*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url("./Gilroy-Medium.ttf");
  }
  @font-face {
    font-family: 'Gilroy-Thin';
    src: url("./Gilroy-Thin.ttf");
  }
  @font-face {
    font-family: 'Gilroy-Bold';
    src: url("./Gilroy-Bold.ttf");
  }
  @font-face {
    font-family: 'Gilroy-Thin';
    src: url("./Gilroy-Thin.ttf");
  }
  @font-face {
    font-family: 'Gilroy-SemiBold';
    src: url("./Gilroy-SemiBold.ttf");
  }
  @font-face {
    font-family: 'Gilroy-Regular';
    src: url("./Gilroy-Regular.ttf");
  }
button{
    cursor: pointer;
}
.main-parent{
    width: 100%;
    min-height: 730vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
}
.main{
    width: 80%;
    min-height: 680vh;
    background:#FFFFFF;
}
.nav-parent{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-family: 'Gilroy-Medium';
    font-size: 15px;
}
.n-one{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.n-two, .mobile-link{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.nav-one{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-two{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-bars{
    display: none;
}
a{
    color: #313131;
}
.nav-two button{
    color: #25A4AD;
    background: #FFFFFF;
    border: none;
    border: 1px solid #25A4AD;
    width: 100px;
    height: 40px;
}
.one-parent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
}
.one{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.one-one-parent{
    width: 40%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: yellow; */
}
.one-one{
    width: 100%;
    height: 400px;
    margin-top: 70px;
    /* background: green; */
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
}
.one-one h1{
    width: 50%;
    font-size: 70px;
    letter-spacing: 10px;
    /* background: purple; */
    color: #313131;
    font-family: 'Gilroy-Thin';
}
.one-one h2{
    width: 150%;
    font-size: 70px;
    word-spacing: 20px;
    letter-spacing: 5px;
    /* background: pink; */
    color:#25A4AD;
    font-family: 'Gilroy-Bold';
}
.one-one p{
    width: 95%;
    /* background: peru; */
    color: #313131;
    font-size: 14px;
    font-family: 'Gilroy-Medium';
}
.b-parent{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.b{
    width: 70%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Gilroy-Medium';
}

.one-two{
    width: 60%;
    /* background: blue; */
}
.one-two img{
    width: 500px;
    height: 600px;
}
.two-parent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
}
.two{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.two img{
    width: 130px;
    height: 12px;
    color: #313131
}
.plan img{
    width: 130px;
    height: 20px;
    color: #313131
}
.three-parent{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.three{
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.three div{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.three p{
    width: 55%;
    text-align: center;
    color: #313131;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
}
.four-parent{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
     /* background: red;  */
}
.four{
    width: 80%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gilroy-Bold';
    /* background: green; */
    position: relative;
}
.four-one{
    width: 70%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    
    /* background: #25A4AD;  */
}
.four-one-one{
    background-image: url('../src/assets/back1.png');
    background-repeat: no-repeat;
    background-size: 90%;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.four-one-two{
    
    background-image: url('../src/assets/back2.png');
    background-repeat: no-repeat;
    background-size: 90%;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    
}
.four-two{
    width: 70%;
    height: 320px;
    display: flex;
    justify-content: space-between;
     /* background: greenyellow;  */
}
.four-two-one {
    background-image: url('../src/assets/back3.png');
    background-repeat: no-repeat;
    background-size: 90%;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
  }
.four-two-two{
    background-image: url('../src/assets/back4.png');
    background-repeat: no-repeat;
    background-size: 90%;
    width: 500px;
    height: 500px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.four .img{
    display: flex;
}
.five-parent{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.five{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gilroy-Medium';
}
.five a button{
    width: 150px;
    height: 40px;
    background: #FFFFFF;
    color: #25A4AD;
    border: 1px solid #25A4AD;
}
.six-parent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.six{
    width: 85%;
    display: flex;
}
.six a{
    text-decoration: underline;
}
.six-one-parent, .six-two-parent, .six-three-parent, .six-four-parent{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.six-one-parent h4, .six-two-parent h4, .six-three-parent h4, .six-four-parent h4{
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
}
.six-one-parent p, .six-two-parent p, .six-three-parent p, .six-four-parent p{
    font-family: 'Gilroy-Regular';
    font-size: 11px;
}
.six-one-parent a, .six-two-parent a, .six-three-parent a, .six-four-parent a{
    font-family: 'Gilroy-Medium';
    font-size: 10px;
}
.six-one{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 200px;
    background: #FFFFFF;
    color: #313131;
    font-size: 14px;
    box-shadow: 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}
.six-one h4, .six-one a{
    color: #25A4AD;

}
.six-two, .six-three, .six-four{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 200px;
    font-size: 14px;
    color: #313131;
    border: 2px solid  #D8D8D8;
}
.sp{
    width: 100%;
    background: #F8F8F8;

}
.seven-parent{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seven{
    width: 80%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.seven-one{
   width: 40%;
   height: 350px;
}
.seven-one img{
    width: 92%;
}
.seven-two-parent{
    width: 60%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
    border-radius: 0px 0px 200px 0px;
}
.seven-two{
    width: 90%;
    height: 280px;
    color: #313131;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.seven-two h2{
    font-size: 18px;
    font-family: 'Gilroy-SemiBold';
}
.seven-two h3, .seven-two p{
    font-size: 12px;
    font-family: 'Gilroy-Regular';
}
.seven-two div p{
    font-size: 10px;
    font-family: 'Gilroy-Medium';
}
.s-img{
    display: flex;
}
.eight-parent{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eight{
    width: 6%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.eight button{
    width: 35px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid #25A4AD;
    color: #25A4AD;
    background: #FFFFFF;
}
.nine-parent{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nine{
    width: 80%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nine-one{
    display: flex;
    
}
.nine-two{
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nine-two h3{
    font-family: 'Gilroy-SemiBold';
}
.nine-two h1{
    font-family: 'Gilroy-Bold';
}
.nine-two p{
    font-family: 'Gilroy-Medium';
    font-size: 12px ;
    margin-bottom: 5px;
}
.nine-two-one{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 300px;
    border: 1px solid #D8D8D8;
}
.nine-two-one button{
    width: 200px;
    height: 40px;
    color: #25A4AD;
    background: #FFFFFF;
    border: 1px solid #25A4AD;
    font-family: 'Gilroy-Medium';
}
.nine-two-one div div{
    display: flex;
}
.nine-two-two{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 300px;
    background: #FFFFFF;
    color: #25A4AD;
    box-shadow: 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}
.nine-two-two button{
    width: 200px;
    height: 40px;
    color: #FFFFFF;
    background: #25A4AD;
    border: none;
}
.nine-two-two div div{
    display: flex;
}
.nine-two-three{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 300px;
    border: 1px solid #D8D8D8;
}
.nine-two-three button{
    width: 200px;
    height: 40px;
    color: #25A4AD;
    background: #FFFFFF;
    border: 1px solid #25A4AD;
}
.nine-two-three div div{
    display: flex;
}
.ten-parent{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ten{
    width: 60%;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #313131;
}
.ten-one{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100px;
}
.ten-two{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 120px;
    background: #FFFFFF;
    box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
    border-radius: 5px;
}
.ten-two-sub{
    width: 85%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.ten-two-sub-one{
    color: #25A4AD;
    width: 5%;
}
.ten-two-sub h4{
    width: 95%;
    height: 40px;
    font-size: 14px;
    text-align: start;
    margin-left: 20px;
    font-family: 'Gilroy-Medium';
}
.ten-two div div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ten-two p{
    width: 70%;
    font-size: 10px;
    font-family: 'Gilroy-Regular';
}
.ten-three{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
    border-radius: 5px;
}
.ten-three-sub{
    width: 85%;
    height: 40px;
    display: flex;
    justify-content: space-between;
   
}
.ten-three-sub-one{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ten-three-sub h4{
    width: 95%;
    height: 40px;
    font-size: 14px;
    text-align: start;
    margin-left: 20px;
    font-family: 'Gilroy-Medium';
}
.ten-four{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
    border-radius: 5px;
}
.ten-four-sub{
    width: 85%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.ten-four-sub-one{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ten-four-sub h4{
    width: 100%;
    height: 40px;
    font-size: 14px;
    text-align: justify;
    margin-right: 90px;
    font-family: 'Gilroy-Medium';
}
.ten-five{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
    border-radius: 5px;
}
.ten-five-sub{
    width: 85%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.ten-five-sub-one{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ten-five-sub h4{
    width: 95%;
    height: 40px;
    font-size: 14px;
    text-align: start;
    font-family: 'Gilroy-Medium';
}
footer{
    width: 100%;
    height: 500px;
    background: #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 80%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}
.footer-one{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-one h1{
    width: 50%;
    color: #FFFFFF;
    font-size: 35px;
    font-family: 'Gilroy-SemiBold';
}
.footer-two{

}
.footer-two button{
    width: 150px;
    height: 45px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background: #2C2C2C;
    font-family: 'Gilroy-Medium';
}
.footer-three{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 120px;
}
.f-one{
    width: 40%;
}
.f-two{
    width: 60%;
    display: flex;
}
.footer-three-one{
    width: 60%;
}
.footer-three-one img{
    width: 80px;
}
.footer-three-one p{
    width: 70%;
    margin-top: 10px;
    font-size: 9px;
    font-family: 'Gilroy-Medium';
}
.footer-three-two{
    width: 30%;
}
.footer-three-two h5{
    font-family: 'Gilroy-Bold';
    font-size: 12px;
}
.footer-three-two p{
    width: 60%;
    margin-top: 12px;
    font-size: 9px;
    font-family: 'Gilroy-Medium';
}
.footer-three-three{
    width: 30%;
}
.footer-three-three h5{
    font-family: 'Gilroy-Bold';
    font-size: 12px;
}
.footer-three-three p{
    width: 60%;
    margin-top: 12px;
    font-size: 9px;
    font-family: 'Gilroy-Medium';
}
.footer-three-four{
    width: 30%;
}
.footer-three-four h5{
    font-family: 'Gilroy-Bold';
    font-size: 12px;
}
.footer-three-four p{
    width: 60%;
    margin-top: 12px;
    font-size: 9px;
    font-family: 'Gilroy-Medium';
}
.footer-four{
    font-size: 9px;
    font-family: 'Gilroy-Medium';
}
@media screen and (max-width: 780px){
    .main-parent{
        width: 100%;
        min-height: 730vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #E5E5E5;
    }
    .main{
        width: 90%;
        min-height: 680vh;
        background:#FFFFFF;
    }
    .nav-parent{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav{
        width: 80%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-self: center;
        font-family: 'Gilroy-Medium';
        font-size: 15px;
    }
    .n-one{
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .n-two{
        width: 90%;
        display: flex;
        justify-content: space-between;
        display: none;
    }
    .mobile-link{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 140px;
        position: absolute;
        top: 70px;
        right: 105px;
        background: #25A4AD;
    }
    .nav-one{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }
 
    .nav-two{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .menu-bars{
        display: flex;
    }
    a{
        color: #313131;
    }
    .nav-two button{
        color: #25A4AD;
        background: #FFFFFF;
        border: none;
        border: 1px solid #25A4AD;
        width: 80px;
        height: 30px;
    }
    .one-parent{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background: red; */
    }
    .one{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-self: center;
    }
    .one-one-parent{
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background: yellow; */
    }
    .one-one{
        width: 100%;
        height: 400px;
        margin-top: 70px;
        /* background: green; */
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-between;
    }
    .one-one h1{
        width: 50%;
        font-size: 50px;
        letter-spacing: 0px;
        /* background: purple; */
        color: #313131;
        font-family: 'Gilroy-Thin';
    }
    .one-one h2{
        width: 150%;
        font-size: 50px;
        word-spacing: 0px;
        letter-spacing: 0px;
        /* background: pink; */
        color:#25A4AD;
        font-family: 'Gilroy-Bold';
    }
    .one-one p{
        width: 90%;
        /* background: peru; */
        color: #313131;
        font-size: 14px;
        font-family: 'Gilroy-Medium';
    }
    .b-parent{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .b{
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Gilroy-Medium';
    }
    
    .one-two{
        width: 60%;
        /* background: blue; */
        display: none;
    }
    .one-two img{
        width: 500px;
        height: 600px;
    }
    .two-parent{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F8F8F8;
    }
    .two{
        width: 80%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .two img{
        width: 60px;
        height: 9px;
        color: #313131
    }
    .plan img{
        width: 60px;
        height: 10px;
        color: #313131
    }
    .three-parent{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .three{
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .three div{
        display: flex;
        justify-content: space-between;
        width: 60%;
        max-width: 200px;
    }
    
    .three p{
        width: 95%;
        text-align: center;
        color: #313131;
        font-family: 'Gilroy-Medium';
        font-size: 14px;
        max-width: 400px;
    }
    .four-parent{
        width: 100%;
        height: 700px;
        display: none;
        justify-content: center;
        align-items: center;
         /* background: red;  */
    }
    .four{
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-family: 'Gilroy-Bold';
        position: relative;
    }
    .four-one{
        width: 70%;
        height: 150px;
        display: flex;
        justify-content: space-between;
      
    }
    .four-one-one{
        background-image: url('../src/assets/back1.png');
        background-repeat: no-repeat;
        background-size: 80%;
        width: 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .four-one-two{
        
        background-image: url('../src/assets/back2.png');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
       
        align-items: center;
        
    }
    .four-two{
        width: 70%;
        height: 150px;
        display: flex;
        justify-content: space-between;
        
    }
    .four-two-one {
        background-image: url('../src/assets/back3.png');
        background-repeat: no-repeat;
        background-size: 80%;
        width: 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
       
        
      }
    .four-two-two{
        background-image: url('../src/assets/back4.png');
        background-repeat: no-repeat;
        background-size: 110%;
        width: 500px;
        height: 500px; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .four .img{
        display: flex;
    }
    .five-parent{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .five{
        width: 80%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Gilroy-Medium';
    }
    .five a button{
        width: 150px;
        height: 40px;
        background: #FFFFFF;
        color: #25A4AD;
        border: 1px solid #25A4AD;
    }
    .six-parent{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .six{
        width: 100%;
        display: flex;
    }
    .six a{
        text-decoration: underline;
    }
    .six-one-parent, .six-two-parent, .six-three-parent, .six-four-parent{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .six-one-parent h4, .six-two-parent h4, .six-three-parent h4, .six-four-parent h4{
        font-family: 'Gilroy-SemiBold';
        font-size: 14px;
    }
    .six-one-parent p, .six-two-parent p, .six-three-parent p, .six-four-parent p{
        font-family: 'Gilroy-Regular';
        font-size: 11px;
    }
    .six-one-parent a, .six-two-parent a, .six-three-parent a, .six-four-parent a{
        font-family: 'Gilroy-Medium';
        font-size: 10px;
    }
    .six-one{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 90%;
        height: 200px;
        background: #FFFFFF;
        color: #313131;
        font-size: 14px;
        box-shadow: 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    }
    .six-one h4, .six-one a{
        color: #25A4AD;
    
    }
    .six-two, .six-three, .six-four{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 90%;
        height: 200px;
        font-size: 14px;
        color: #313131;
        border: 2px solid  #D8D8D8;
    }
    .sp{
        width: 100%;
        background: #F8F8F8;
    
    }
    .seven-parent{
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .seven{
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .seven-one{
       width: 65%;
       height: 350px;
    }
    .seven-one img{
        width: 92%;
    }
    .seven-two-parent{
        width: 60%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #F8F8F8;
        border-radius: 0px 0px 200px 0px;
    }
    .seven-two{
        width: 90%;
        height: 280px;
        color: #313131;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .seven-two h2{
        font-size: 16px;
        font-family: 'Gilroy-SemiBold';
    }
    .seven-two h3, .seven-two p{
        font-size: 11px;
        font-family: 'Gilroy-Regular';
    }
    .seven-two div p{
        font-size: 9px;
        font-family: 'Gilroy-Medium';
    }
    .s-img{
        display: flex;
    }
    .eight-parent{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .eight{
        width: 20%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .eight button{
        width: 35px;
        height: 20px;
        border-radius: 50px;
        border: 1px solid #25A4AD;
        color: #25A4AD;
        background: #FFFFFF;
    }
    .nine-parent{
        width: 100%;
        min-height: 150vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nine{
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .nine-one{
        display: flex;
        height: 100px;
        margin-bottom: 30px;
    }
    .nine-two{
        width: 90%;
        min-height: 140vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .nine-two h3{
        font-family: 'Gilroy-SemiBold';
    }
    .nine-two h1{
        font-family: 'Gilroy-Bold';
    }
    .nine-two p{
        font-family: 'Gilroy-Medium';
        font-size: 12px ;
        margin-bottom: 5px;
    }
    .nine-two-one{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 250px;
        height: 300px;
        border: 1px solid #D8D8D8;
    }
    .nine-two-one button{
        width: 200px;
        height: 40px;
        color: #25A4AD;
        background: #FFFFFF;
        border: 1px solid #25A4AD;
        font-family: 'Gilroy-Medium';
    }
    .nine-two-one div div{
        display: flex;
    }
    .nine-two-two{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 250px;
        height: 300px;
        background: #FFFFFF;
        color: #25A4AD;
        box-shadow: 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    }
    .nine-two-two button{
        width: 200px;
        height: 40px;
        color: #FFFFFF;
        background: #25A4AD;
        border: none;
    }
    .nine-two-two div div{
        display: flex;
    }
    .nine-two-three{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 250px;
        height: 300px;
        border: 1px solid #D8D8D8;
    }
    .nine-two-three button{
        width: 200px;
        height: 40px;
        color: #25A4AD;
        background: #FFFFFF;
        border: 1px solid #25A4AD;
    }
    .nine-two-three div div{
        display: flex;
    }
    .ten-parent{
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ten{
        width: 100%;
        height: 480px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: #313131;
    }
    .ten-one{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 100px;
    }
    .ten-two{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        height: 120px;
        background: #FFFFFF;
        box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
        border-radius: 5px;
    }
    .ten-two-sub{
        width: 90%;
        height: 40px;
        display: flex;
        justify-content: space-between;
    }
    .ten-two-sub-one{
        color: #25A4AD;
        width: 5%;
    }
    .ten-two-sub h4{
        width: 95%;
        height: 40px;
        font-size: 14px;
        text-align: start;
        margin-left: 20px;
        font-family: 'Gilroy-Medium';
    }
    .ten-two div div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ten-two p{
        width: 70%;
        font-size: 10px;
        font-family: 'Gilroy-Regular';
    }
    .ten-three{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 60px;
        background: #FFFFFF;
        box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
        border-radius: 5px;
    }
    .ten-three-sub{
        width: 85%;
        height: 40px;
        display: flex;
        justify-content: space-between;
       
    }
    .ten-three-sub-one{
        width: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ten-three-sub h4{
        width: 95%;
        height: 40px;
        font-size: 14px;
        text-align: start;
        margin-left: 20px;
        font-family: 'Gilroy-Medium';
    }
    .ten-four{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 60px;
        background: #FFFFFF;
        box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
        border-radius: 5px;
    }
    .ten-four-sub{
        width: 85%;
        height: 40px;
        display: flex;
        justify-content: space-between;
    }
    .ten-four-sub-one{
        width: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ten-four-sub h4{
        width: 100%;
        height: 40px;
        font-size: 12px;
        text-align: justify;
        margin-right: 90px;
        font-family: 'Gilroy-Medium';
    }
    .ten-five{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 60px;
        background: #FFFFFF;
        box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
        border-radius: 5px;
    }
    .ten-five-sub{
        width: 85%;
        height: 40px;
        display: flex;
        justify-content: space-between;
    }
    .ten-five-sub-one{
        width: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ten-five-sub h4{
        width: 95%;
        height: 40px;
        font-size: 14px;
        text-align: start;
        font-family: 'Gilroy-Medium';
    }
    footer{
        width: 100%;
        height: 500px;
        background: #2C2C2C;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer{
        width: 95%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: #FFFFFF;
    }
    .footer-one{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer-one h1{
        width: 100%;
        color: #FFFFFF;
        font-size: 35px;
        font-family: 'Gilroy-SemiBold';
    }
    .footer-two{
    
    }
    .footer-two button{
        width: 150px;
        height: 45px;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        background: #2C2C2C;
        font-family: 'Gilroy-Medium';
    }
    .footer-three{
        display: flex;
        justify-content: space-between;
        width: 80%;
        height: 120px;
    }
    .f-one{
        width: 40%;
    }
    .f-two{
        width: 60%;
        display: flex;
    }
    .footer-three-one{
        width: 60%;
    }
    .footer-three-one img{
        width: 80px;
    }
    .footer-three-one p{
        width: 70%;
        margin-top: 10px;
        font-size: 9px;
        font-family: 'Gilroy-Medium';
    }
    .footer-three-two{
        width: 30%;
    }
    .footer-three-two h5{
        font-family: 'Gilroy-Bold';
        font-size: 12px;
    }
    .footer-three-two p{
        width: 60%;
        margin-top: 12px;
        font-size: 9px;
        font-family: 'Gilroy-Medium';
    }
    .footer-three-three{
        width: 30%;
    }
    .footer-three-three h5{
        font-family: 'Gilroy-Bold';
        font-size: 12px;
    }
    .footer-three-three p{
        width: 60%;
        margin-top: 12px;
        font-size: 9px;
        font-family: 'Gilroy-Medium';
    }
    .footer-three-four{
        width: 30%;
    }
    .footer-three-four h5{
        font-family: 'Gilroy-Bold';
        font-size: 12px;
    }
    .footer-three-four p{
        width: 60%;
        margin-top: 12px;
        font-size: 9px;
        font-family: 'Gilroy-Medium';
    }
    .footer-four{
        font-size: 9px;
        font-family: 'Gilroy-Medium';
    }
    
}